<!DOCTYPE html>
<html lang="ko">
  <!-- thymeleaf 의 fragment 기능으로 모듈화(fragments/module.html) 참고링크 http://yoonbumtae.com/?p=2609 -->
<head th:replace="fragments/module.html :: head">
</head>

<body>

    <!-- header -->

    <header>
      <!-- fragments폴더안에 module.html 에 있는 header 가져오기-->
      <div th:replace="fragments/module.html :: header"></div>
  </header>


  <!-- spinner -->

    <!-- display가 none 이면 없어지고, block 이면 나타남-->
   <div id="spinner" style="display:none">
    <!--loader는 회전하는 그림, css 에서 정리해놈 -->
    <div class="loader"></div>

</div>
    </script>

    <!-- Body -->

    <body>
    <form class="emailSubscribe">
        <!-- 제목 -->
        <p><span style="border-radius: 50px 50px 50px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #5bd9ff;
        padding: 0.5em 0.6em;
        color: #FF8000;">Checking Email</span>
       </p>
       <br>
       <center>
         <!-- 이메일 입력칸 -->
         <!-- placeholder = input 박스 안에 텍스트,
            onfocus = 박스클릭했을 때 placeholder 문구 삭제
            onblur = 다른 곳을 클릭했을 때 다시 박스안에 텍스트 생성-->
            <div id="emailinput">
        <input type="text" id="word" placeholder=" 검색할 단어를 입력하세요."onfocus="this.placeholder=''"
        onblur="this.placeholder=' 검색할 단어를 입력하세요.'"
        autocomplete="off"
        style="width: 150pt; height:20pt"/></div>

       <br>

            <div id="btn_group">
              <!-- 검색버튼을 누르면 ajaxPostDic() 을 실행한다. POSTapi.js 에 있음-->
            <button  id="btn_2" type="button" onclick="ajaxPostDic()" >검색</button>
        </div>
            <div >
              <br>
              <!--사용자가 검색한 단어를 보여주는 곳-->
                <h1 id="wordprint"></h1>
            </div>
            <div >
              <!-- 사용자가 검색한 단어의 뜻을 보여주는 곳-->
                <h1 id="wordprint2"></h1>
            </div>
     </form>
    </center>
  </body>

  <!-- footer -->

      <footer>
        <!-- fragments폴더안에 module.html 에 있는 footer 가져오기-->
        <div th:replace="fragments/module.html :: footer"></div>
    </footer>

    <script src="/js/Getapi.js" defer></script>
    <script src="/js/POSTapi.js" defer></script>
</body>
</html>