<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${value}"></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
<script src="/js/Getapi.js" defer></script>
<script src="/js/POSTapi.js" defer></script>
<script src="/js/jQuery.js" defer></script>





</head>
<body>

    
   
    <!-- display가 none 이면 없어지고, blcok 이면 나타남-->
   <div id="spinner" style="display:none">
    <!--loader는 회전하는 그림 -->
    <div class="loader"></div>
</div>
    </script>
    <form class="emailSubscribe"> 
        
        <!-- 제목 -->
        <p><span style="border-radius: 15px 15px 15px 0; 
        border: 3px solid #FFAD5B; 
        padding: 0.5em 0.6em; 
        color: #FF8000;">Checking Email</span>
       </p>
         <!-- 이메일 입력칸 -->
        <input id="email" placeholder="이메일을 입력하세요." autocomplete="off"/> 
       <br>
            <!-- 이메일 체크버튼, 각각 클릭시 GetAPI()또는 PostAPI() 호출 -->
            <button type="button" onclick="GetAPI()" >GET</button>
            <button type="button" onclick="PostAPI()" >POST</button>

           
            <div >
                <h1 id="emailprint"></h1>
            </div>
            <div >
                <h1 id="result"></h1>
            </div>
       
     </form>

</body>
</html>