<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title" th:text="${value}"></title>
    </head>
<style>
* {
    font-family: 'Montserrat', sans-serif;
}
</style>

<body>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-1.11.3.js" integrity="sha256-IGWuzKD7mwVnNY01LtXxq3L84Tm/RJtNCYBfXZw3Je0=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="main">Check Your Email</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="main">MAIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="printLog">LOG<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
    </nav>
   
    <!-- display가 none 이면 없어지고, blcok 이면 나타남-->
   <div id="spinner" style="display:none">
    <!--loader는 회전하는 그림 -->
    <div class="loader"></div>
</div>
    </script>
    
    <form class="emailSubscribe"> 
        
        <!-- 제목 -->
        

        <p><span style="border-radius: 100px 100px 100px 100px; 
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px solid #5bd9ff; 
        padding: 0.5em 0.6em;
        color: #FF8000;">Checking Email</span>
       </p>
       <br>
         <!-- 이메일 입력칸 -->
         <!-- placeholder = input 박스 안에 텍스트,
            onfocus = 박스클릭했을 때 placeholder 문구 삭제
            onblur = 다른 곳을 클릭했을 때 다시 박스안에 텍스트 생성-->
            <div id="emailinput">
        <input type="text" id="email" placeholder=" 이메일을 입력하세요."onfocus="this.placeholder=''"
        onblur="this.placeholder=' 이메일을 입력하세요.'"
        autocomplete="off" 
        style="width: 150pt; height:20pt"/></div>
       
       <br>
            <!-- 이메일 체크버튼, 각각 클릭시 GetAPI()또는 PostAPI() 호출 -->
            <div id="btn_group">
            <button  id="btn_1" type="button" onclick="ajaxGetAPI()" >GET</button>
            <button  id="btn_2" type="button" onclick="ajaxPostAPI()" >POST</button>
        </div>
            <div >
                <h1 id="emailprint"></h1>
            </div>
            <div >
                <h1 id="result"></h1>
            </div>
     </form>
     
      <script type="text/JavaScript" src="/js/POSTapi.js"></script>
    <script type="text/JavaScript" src="/js/Getapi.js"></script>
    <footer>

    </footer>
    <script src="/js/Getapi.js" defer></script>
    <script src="/js/POSTapi.js" defer></script>
</body>
</html>