<!DOCTYPE html>
<html lang="en">

<!-- head 부분-->
<head>
  <head th:replace="fragments/module.html :: head">
</head>

<!-- header 부분-->
    <header>
      <head th:replace="fragments/module.html :: header">
    </header>

<!-- body 부분-->
    <body>
      <br>
      <br>
      <br>
    <table class ="table" id="UserLog" border="1">
        <thead class="thead-dark">
            <tr>
                <th scope="col">idx</th>
                <th scope="col">Date</th>
                <th scope="col">UserIP</th>
                <th scope="col">Mail</th>
                <th scope="col">Result</th>
                <th scope="col">Word</th>
            </tr>
        </thead>
        <tbody id = "userLogTBody">
        </tbody>
    </table>
    <div class="text-center">
      <ul id="pagination-demo" class="pagination-sm">
      </ul>
    </body>
    </div>

    <!-- footer 부분-->
    <footer>
      <head th:replace="fragments/module.html :: footer">
    </footer>

    <script type="text/JavaScript" src="/js/Ajaxapi.js"></script>
</html>